
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1;
  background-color: #000;
  width: 100%;
  height: 256px;
  .item {
    width: 16.66666666666667%;
    height: 50%;
    background-color: #CCC;
    list-style-type: none;
    cursor: pointer;
    background-size: cover;
  }
  .expand {
    width: 33.33333333333334%;
    height: 100%;
    transition: width 1.2s, height 1.2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
